
<!-- >>>>>>> TODO TEMP STYLES <<<<<<<< -->
<style type="text/css">
	.edit-panel {
		display: none;
	}
	.edit-mode .edit-panel {
		display: block;
	}
</style>
<!-- >>>>>>> TODO TEMP STYLES <<<<<<<< -->

<!-- <div class="tool-bar">
	<div class="search-filter">
		<label for="searchFilter">
			Search for your beer:
		</label>
		<input type="text" name="searchFilter" ng-model="query" />
	</div>
	<div class="sort-by-filter">
		<label for="sortByFilter">
			Sort by:
		</label>
		<select name="sortByFilter">
			<option value=""></option>
		</select>
	</div>
</div> -->

<ul class="product-list">
	<li data-ng-repeat="beer in vm.beers | filter : query | orderBy : orderProp" id="{{'beer_' + beer._id}}" >
		<ul class="beer-tile">
			<li data-ng-if="beer.imgUrl">
				<img ng-src='{{beer.imgUrl}}' alt="" />
			</li>
			<li data-ng-if="beer.name">
				<p>Beer name: <a href="">{{beer.name}}</a></p>
			</li>
			<li data-ng-if="beer.type">
				<p>Beer type: <a href="">{{beer.type}}</a></p>
			</li>
			<li data-ng-if="beer.quantity">
				<p>Currently in stock: {{beer.quantity}}</p>
			</li>
			<li data-ng-if="beer.abv">
				<p>ABV: {{beer.abv}}%</p>
			</li> 
			<li data-ng-if="beer.origin">
				<p>Country of origin: {{beer.origin}}</p>
			</li>
			<li data-ng-if="beer.details">
				<p>Beer details: {{beer.details}}</p>
			</li>
			<li class="edit-beer">
				<p>
					<a action-button="toggleEditPanel">EDIT</a>
				</p>
				<beer-form submit-action="putBeer" model="beer"></beer-form>
			</li>
			<li class="delete-beer">
				<p>
					<a action-button="deleteBeer">DELETE</a>
				</p>
			</li>
		</ul>
	</li>
</ul>