<h1>beers are listed here yo!</h1>
<!-- <h3> {{vm.beers}} </h3> -->

<style type="text/css">
	.edit-panel {
		display: none;
	}
	.edit-mode .edit-panel {
		display: block;
	}
</style>

<ul class="product-list">
	<li data-ng-repeat="beer in vm.beers | filter:query | orderBy:orderProp" id="{{'beer_' + beer._id}}" >
		<ul class="beer-tile">
			<li data-ng-if="beer.name">
				<p>Beer name: <a href="">{{beer.name}}</a></p>
			</li>
			<li data-ng-if="beer.type">
				<p>Beer type: <a href="">{{beer.type}}</a></p>
			</li>
			<li data-ng-if="beer.quantity">
				<p>Currently in stock: {{beer.quantity}}</p>
			</li>
			<li data-ng-if="beer.abv">
				<p>ABV: {{beer.abv}}%</p>
			</li> 
			<li data-ng-if="beer.origin">
				<p>Country of origin: {{beer.origin}}</p>
			</li>
			<li data-ng-if="beer.details">
				<p>Beer details: {{beer.details}}</p>
			</li>
			<li class="edit-beer">
				<p>
					<a action-button="toggleEditPanel">EDIT</a>
				</p>
				<form action="#" id="{{'edit_form_' + beer._id}}">
					<ul class="edit-panel">
						<li>
							<label for="edit-name">Name:</label>
							<input type="text" placeholder="Edit the beer name here" ng-model="beer.name" />
						</li>
						<li>
							<label for="edit-name">Type:</label>
							<input type="text" placeholder="Edit the beer type here" ng-model="beer.type" />
						</li>
						<li>
							<label for="edit-name">Quantity:</label>
							<input  type="number" placeholder="Edit the beer quantity here" ng-model="beer.quantity" />
						</li>
						<li>
							<label for="edit-name">ABV:</label>
							<input type="number" placeholder="Edit the beer ABV here" ng-model="beer.abv" />
						</li>
						<li>
							<label for="edit-name">Origin:</label>
							<input type="text" placeholder="Edit the beer origin here" ng-model="beer.origin" />
						</li>
						<li>
							<label for="edit-name">Details:</label>
							<textarea placeholder="Edit the beer details here" ng-model="beer.details" ></textarea>
						</li>
						<li>
							<a action-button="putBeer">SUBMIT</a>
						</li>
					</ul>
				</form>
			</li>
			<li class="delete-beer" >
				<p>
					<a action-button="deleteBeer">DELETE</a>
				</p>
			</li>
		</ul>
	</li>
</ul>