
/* line 286 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/main.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 13 : /Users/owencowdry/development/_playground/papa_locker/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 16 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/index.styl */

/* line 10 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/border.styl */

/* line 28 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/clearfix.styl */

/* line 4 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/clearfix.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/color-image.styl */

/* line 196 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/flex.styl */

/* line 16 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/gradients.styl */

/* line 11 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/config.styl */

/* line 7 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/iconic.styl */

/* line 25 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/image.styl */

/* line 20 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/image.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/overflow.styl */

/* line 66 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/positions.styl */

/* line 78 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/reset.styl */

/* line 16 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/index.styl */

/* line 12 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/aliases.styl */

/* line 9 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 8 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 9 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 2 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 577 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 541 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/config.styl */

/* line 28 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/size.styl */

/* line 68 : /Users/owencowdry/development/_playground/papa_locker/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */

/* line 8 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
/* line 28 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
/* line 32 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */
body{line-height:1}
/* line 35 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */
ol,ul{list-style:none}
/* line 38 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */
blockquote,q{quotes:none}
/* line 41 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
/* line 46 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */
table{border-collapse:collapse;border-spacing:0}
/* line 52 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* line 55 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */
*,*:before,*:after{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit}
/* line 61 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
/* line 66 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */
input[type=number]{-moz-appearance:textfield}
/* line 10 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/reset.styl */

/* line 2 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/colours.styl */

/* line 4 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/colours.styl */

/* line 68 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/core-layout.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/core-layout.styl */
.wrapper{width:1200px;margin:0 auto;padding:0}
/* line 3 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/core-layout.styl */

/* line 4 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/typography.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/typography.styl */
.body{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-weight:300}
/* line 3 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/core/typography.styl */

/* line 3 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/header.styl */

/* line 8 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/header.styl */

/* line 3 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/edit-panel.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/edit-panel.styl */

/* line 2 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/edit-panel.styl */
.edit-beer .edit-panel{display:none}
/* line 5 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/edit-panel.styl */

/* line 6 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/edit-panel.styl */

/* line 7 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/edit-panel.styl */
.edit-mode .edit-beer .edit-panel{display:block}
/* line 6 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/edit-panel.styl */

/* line 8 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/main-nav.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/main-nav.styl */

/* line 2 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/main-nav.styl */
.main-nav .container-fluid{padding:0}
/* line 4 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/main-nav.styl */
.main-nav .navbar-brand{color:#2196f3;padding-left:0}
/* line 13 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/main-nav.styl */

/* line 12 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/beerlist-tools.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/beerlist-tools.styl */
.beer-tools{margin:0 0 20px 0;background-color:#eee;border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;padding:0 40px 0 22px;}
/* line 7 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/beerlist-tools.styl */
.beer-tools .tool-label{margin-right:15px}
/* line 9 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/beerlist-tools.styl */
.beer-tools .sort-select{-webkit-box-shadow:none;box-shadow:none;border:1px solid #dedede;padding:0 23px 0 10px;background-position-x:90%}
/* line 16 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/beerlist-tools.styl */

/* line 10 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/beer-tile.styl */

/* line 1 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/beer-tile.styl */
.beer-tile{border:1px solid #dadada;-webkit-border-radius:10px;border-radius:10px;padding:10px;margin:0 0 15px 0;background-color:#eee;}
/* line 8 : /Users/owencowdry/development/_playground/papa_locker/src/stylus/components/beer-tile.styl */
.beer-tile .beer-logo{display:block;width:200px;height:200px;margin:0 auto;padding:0;background-repeat:no-repeat;background-position:0 0;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain}