.edit-panel
	.item-title
		font-size 1.6rem
		font-weight normal
		color #666
		display block
		text-align left
	.item-input
		display block
		width 100%
		padding 5px
		box-shadow none
		background-color $input-bgnd
		border-bottom 1px solid $input-border
		&:focus
			input-focus()
	.item-input-textarea
		min-height 70px
			
	.file-display-area
		display block
		width 100px
		height 100px
		margin 15px auto
		padding 0
		background-repeat no-repeat
		background-position center center
		background-size contain
	.list-item
		.item-hero
			display none
		&:last-child
			border-bottom none
			padding 10px 0 0 0
			text-align right
			&:after
				border-top none
	.input-wrap
		clearfix()
		.detail
			display none
	.beer-img
		beer-img(100%, 200px, 0, 0)