.beer-item-parent
	position relative

.beer-tile
	border 1px solid #dadada
	border-radius 10px
	padding 10px
	margin 0 0 15px 0
	background-color $tile-bgnd
	height 310px
	overflow-x hidden
	overflow-y scroll
	
	
	.beer-logo
		display block
		width 200px
		height 200px
		margin 0 auto
		padding 0
		background-repeat no-repeat
		background-position center center
		background-size contain
	
	.list-item
		display block
		margin 0 0 10px 0
		p
			font-size 1.6rem
		
	.item-hero
		color $item-hero
		
	.tile-tools
		position absolute
		top 0
		left 0
		width 100%
		
	.tile-tool-list
		width 100%
		position relative

	.list-icon
		position absolute
		top 10px
		a.icon
			font-size 3rem
	
		&.list-icon-edit
			left 30px
		&.list-icon-delete
			right 30px
		&:hover
			cursor pointer
			text-decoration none


	// .tile-tools
	// 	background-color red
	// 	width 100%