.beer-item-parent
	position relative
	transform-style: preserve-3d;
	perspective: 1000px;

.beer-item-inner
	display block 
	width 95%
	height 400px
	position relative

.beer-tile
	padding 0
	margin 0 0 15px 0
	background-color $tile-bgnd
	height 260px
	overflow-x hidden
	overflow-y scroll

	.beer-img
		display block
		width 200px
		height 200px
		margin 15px auto
		padding 0
		background-image url(/images/bacon_chops.png)
		background-repeat no-repeat
		background-position center center
		background-size contain

	.list-item
		display block
		margin 0 0 10px 0
		p
			font-size 1.6rem

	.item-hero
		color $item-hero

.tile-tools
	clearfix()
	&.tile-tools-top
		border-bottom 1px solid white
	&.tile-tools-bottom
		border-top 1px solid white

.tile-tool-list
	width 100%
	padding 10px
	
.trigger
	&.trigger-edit,
	&.trigger-delete,
	&.trigger-forward
		float right
	&.trigger-info,
	&.trigger-back
		float left
		
	.icon 
		font-size 2.6rem
		color $primary-icon
		&:hover
			color $hover-icon
			cursor pointer
			text-decoration none

.flip-card-side-a,
.flip-card-side-b, 
.flip-card-side-c 
	width 100%
	position absolute
	height 330px
	backface-visibility hidden
	transform-origin 50% 50%
	transition all .5s ease-in-out


.flip-card-side-a 
	transform rotateY(0deg) translateZ( $cubeTransX )
	z-index 1

.flip-card-side-b 
	transform rotateY(90deg) translateZ( $cubeTransX )

.flip-card-side-c 
	transform rotateY(-90deg) translateZ( $cubeTransX )

// FLIP LEFT STATES
.flip-left .flip-card-side-a 
	transform rotateY(-90deg) translateZ( $cubeTransX )

.flip-left .flip-card-side-b 
	transform rotateY(0deg) translateZ( $cubeTransX ) 
	z-index 1

.flip-left .flip-card-side-c 
	transform rotateY(-180deg) translateZ( $cubeTransX )

// FLIP RIGHT STATES
.flip-right .flip-card-side-a 
	transform rotateY(90deg) translateZ( $cubeTransX )

.flip-right .flip-card-side-b 
	transform rotateY(180deg) translateZ( $cubeTransX )
	z-index 1

.flip-right .flip-card-side-c 
	transform rotateY(0deg) translateZ( $cubeTransX )













