.edit-panel
	.item-title
		font-size 1.6rem
		font-weight normal
		color #666
		display block
		text-align left
	.item-input
		placeholder( $placeholder-text )
		color $placeholder-text
		display block
		width 100%
		padding 5px
		box-shadow none
		background-color $input-bgnd
		border-bottom 1px solid $input-border
		&:focus
			input-focus()

	
	.item-input-textarea
		min-height 70px
			
	.file-display-area
		display block
		width 100px
		height 100px
		margin 15px auto
		padding 0
		background-repeat no-repeat
		background-position center center
		background-size contain
	.list-item
		.item-hero
			display none
		&:last-child
			border-bottom none
			padding 10px 0 0 0
			text-align right
			&:after
				border-top none
	.input-wrap
		clearfix()
		.detail
			display none
			&.img-preview
				display block
				padding-top 40px
				
		.img-upload-area
			overflow hidden
			height 30px
			float left
			position relative
			background-color $input-bgnd
			
			.placeholder
				position absolute
				z-index 1
				top 7px
				left 5px
				font-size 1.6rem
				color $placeholder-text
				
			.input-img-upload
				background-color transparent
				float none
				margin-left -100%
				margin-top -30px
				height 60px
				width 200%
				position relative
				z-index 2
				
	.beer-img
		beer-img(100%, 200px, 0, 0)
