.beer-tools
	margin 0 0 20px 0
	background-color $toolbar-bgnd
	border-top 1px solid $toolbar-border
	border-bottom 1px solid $toolbar-border
	padding 0 40px 0 22px
	.tool-label
		margin-right 15px
		font-size 1.4rem
	.sort-select
		box-shadow none
		border 1px solid #dedede
		padding 0 23px 0 10px
		background-position-x 90%