.item-detail-list
	margin 0
	padding 20px
	.list-item
		margin 0
		padding 0 0 10px 0
		border-top 1px solid $detail-item-top  
		border-bottom 1px solid $detail-item-bottom 
		&:first-child
			position relative
			&:before
				top -2px
				detail-divder( $detail-item-bottom )
		
		&:last-child
			position relative
			&:after
				bottom -2px
				detail-divder( $detail-item-top )
	.item-title
		display block
		margin 0
		padding 10px 0
		
	.item-hero
		display block