.new-beer-container
	background-color $primary-bgnd
	width 600px
	margin 20px auto 0 auto
	.section-header
		margin 0
		padding 15px 15px 0 15px
		.title
			margin 0 0 10px 0
			padding 0
			font-size 2.2rem
		.instruction
			font-size 1.6rem
			color $instruction-text
	
	.list-item
		.item-hero
			display block

	.input-wrap
		.item-input
			float left
			width 50%
			
		.detail
			float left
			width 50%
			display block
			.content
				display inline-block
				padding 10px
				font-size 1.6rem
				line-height 0.8rem
		.item-hero
			color $item-hero 
		.placeholder
			color $instruction-text
	