.new-beer-container
	background-color $primary-bgnd
	width 600px
	margin 20px auto 0 auto
	.section-header
		margin 0
		padding 15px 15px 0 15px
		.title
			margin 0 0 10px 0
			padding 0
			font-size 2.2rem
		.instruction
			font-size 1.6rem
			color #999
	
	.list-item
		.item-hero
			display block