<form action="#" id="{{'edit_form_' + beer._id}}" enctype='multipart/form-data'>
	<ul class="edit-panel item-detail-list">
		<!-- NOTE Model in this view is the one we pass in to the directive attribute i.e. beer -->
		<li class="list-item">
			<label class="item-title" for="editName">// Name - {{ localBeer.name }}</label>
			<div class="input-wrap">
				<input class="item-input" type="text" placeholder="Edit the beer name here" ng-model="localBeer.name" />
				<p class="detail">
					<span data-ng-show="!localBeer.name" class="content placeholder">The beer name will appear here</span>
					<span data-ng-show="localBeer.name" class="content item-hero">
						{{ localBeer.name }}
					</span>
				</p>
			</div>
			
		</li>
		<li class="list-item">
			<p>
				<span class="item-title">// Image</span>
			</p>
			<!-- 
				Adding model here to pass through the beer model, its on the beerform parent as beer, but as its the second time we inherit it here we need to use the original attribute name.
				TODO - Look at the naming of this model attr as its passed down
			-->
			<div class="input-wrap">
				<image-upload model="model">
			</div>
		</li>
		<li class="list-item">
			<label class="item-title" for="editType">// Type</label>
			<div class="input-wrap">
				<input class="item-input" type="text" placeholder="Edit the beer type here" ng-model="model.type" />
				<p class="detail">
					<span data-ng-show="!model.type" class="content placeholder">The beer type will appear here</span>
					<span data-ng-show="model.type" class="content item-hero">
						{{ model.type }}
					</span>
				</p>
			</div>
		</li>
		<li class="list-item">
			<label class="item-title" for="editQuantity">// Quantity</label>
			<div class="input-wrap">
				<input class="item-input" type="number" placeholder="Edit the beer quantity here" ng-model="model.quantity" />
				<p class="detail">
					<span data-ng-show="!model.quantity" class="content placeholder">The beer quantity will appear here</span>
					<span data-ng-show="model.quantity" class="content item-hero">
						{{ model.quantity }}
					</span>
				</p>
			</div>
		</li>
		<li class="list-item">
			<label class="item-title" for="editABV">// ABV</label>
			<div class="input-wrap">
				<input class="item-input" type="number" placeholder="Edit the beer ABV here" ng-model="model.abv" />
				<p class="detail">
					<span data-ng-show="!model.abv" class="content placeholder">The beer ABV will appear here</span>
					<span data-ng-show="model.abv" class="content item-hero">
						{{ model.abv }} <span class="unit" data-ng-if="model.abv">%</span>
					</span>
				</p>
			</div>
		</li>
		<li class="list-item">
			<label class="item-title" for="editOrigin">// Origin</label>
			<div class="input-wrap">
				<input class="item-input" type="text" placeholder="Edit the beer origin here" ng-model="model.origin" />
				<p class="detail">
					<span data-ng-show="!model.origin" class="content placeholder">The beer origin will appear here</span>
					<span data-ng-show="model.origin" class="content item-hero">{{ model.origin }}</span>
				</p>
			</div>
		</li>
		<li class="list-item list-item-details">
			<label class="item-title" for="editDetails">// Details</label>
			<div class="input-wrap">
				<textarea class="item-input item-input-textarea" placeholder="Edit the beer details here" ng-model="model.details" ></textarea>
				<p class="detail">
					<span data-ng-show="!model.details" class="content placeholder">The beer details will appear here</span>
					<span data-ng-show="model.details" class="content item-hero">{{ model.details }}</span>
				</p>
			</div>
		</li>
		<li class="list-item list-item-submit">
			<a action-button="{{vm.submitAction}}" class="btn btn-primary">SUBMIT</a>
		</li>
	</ul>
</form>