<form action="#" id="{{'edit_form_' + beer._id}}" enctype='multipart/form-data'>
	<ul class="edit-panel item-detail-list">
		<!-- NOTE Model in this view is the one we pass in to the directive attribute i.e. beer -->
		<li class="list-item">
			<label class="item-title" for="editName">// Name</label>
			<input class="item-input" type="text" placeholder="Edit the beer name here" ng-model="model.name" />
		</li>
		<li class="list-item">
			<p>
				<span class="item-title">// Image</span>
			</p>
			<!-- 
				Adding model here to pass through the beer model, its on the beerform parent as beer, but as its the second time we inherit it here we need to use the original attribute name.
				TODO - Look at the naming of this model attr as its passed down
			-->
			<image-upload model="model">
		</li>
		<li class="list-item">
			<label class="item-title" for="editType">// Type</label>
			<input class="item-input" type="text" placeholder="Edit the beer type here" ng-model="model.type" />
		</li>
		<li class="list-item">
			<label class="item-title" for="editQuantity">// Quantity</label>
			<input class="item-input" type="number" placeholder="Edit the beer quantity here" ng-model="model.quantity" />
		</li>
		<li class="list-item">
			<label class="item-title" for="editABV">// ABV</label>
			<input class="item-input" type="number" placeholder="Edit the beer ABV here" ng-model="model.abv" />
		</li>
		<li class="list-item">
			<label class="item-title" for="editOrigin">// Origin</label>
			<input class="item-input" type="text" placeholder="Edit the beer origin here" ng-model="model.origin" />
		</li>
		<li class="list-item">
			<label class="item-title" for="editDetails">// Details</label>
			<textarea class="item-input item-input-textarea" placeholder="Edit the beer details here" ng-model="model.details" ></textarea>
		</li>
		<li class="list-item list-item-submit">
			<a action-button="{{vm.submitAction}}" class="btn btn-primary">SUBMIT</a>
		</li> 
<!-- 		<li class="list-item" ng-repeat="field in vm.fields">
			<label class="label" for="edit-{{field.key}}">
				// {{field.label}}
			</label>
			<input type="text" ng-model="" />
		</li> -->
	</ul>
</form>