// Backgrounds
$primary-bgnd = #eaeaea
$toolbar-bgnd = $primary-bgnd
$tile-bgnd = $primary-bgnd

// Borders
$toolbar-border = #dbdbdb
$input-border = #dedede
$detail-item-top = #dbdbdb
$detail-item-bottom = #fdfdfd

// Site branding
$primary-highlight = #2196f3 
$main-logo = $primary-highlight
$item-hero = $primary-highlight

// Icons
$primary-icon = #666
$hover-icon = $primary-highlight

