// Backgrounds
$primary-bgnd = #eee
$toolbar-bgnd = $primary-bgnd
$tile-bgnd = rgba(249, 36, 164, 0.6)

// Borders
$toolbar-border = #dbdbdb
$input-border =#dedede

// Site branding
$primary-highlight = #2196f3 
$main-logo = $primary-highlight
$item-hero = $primary-highlight

