// Backgrounds
$primary-bgnd = #eee
$toolbar-bgnd = $primary-bgnd
$tile-bgnd = $primary-bgnd

// Borders
$toolbar-border = #dbdbdb

// Site branding
$primary-highlight = #2196f3 
$main-logo = $primary-highlight
$item-hero = $primary-highlight

