html
	font-size 62.5%
	box-sizing border-box
	
*,
*:before,
*:after
	box-sizing inherit
	
.wrapper
	width 1020px
	margin 0 auto
	padding 0

.mi-row
	width 1070px
	clearfix()
	margin-left 28px
.mi-col
	float left
.mi-col-quad
	width 344px

.container-fluid
	&.beer-list 
		padding-right 0