input-focus()
	outline none
	box-shadow: inset 0 -2px 0 $input-focus;
	
beer-img( $width, $height, $margin-top, $margin-btm )
	display block
	width $width
	height $height
	margin $margin-top auto $margin-btm auto
	padding 0
	background-repeat no-repeat
	background-position center center
	background-size contain